
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    text-align: center;
    padding: 8px 32px;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
}

img {
    border-radius: 20px;
}

.header, .login, .footer {
    background-color: #1f2937;
}

.login, .grid, .quote, .alert {
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.header, .login, .grid, .quote, .alert, .footer {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
}

.header, .footer, .intro-title, .alert-title, .alert-text {
    color: #f9faf8;
}

.header, .footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login {
    gap: 20px;
}

.login-img {
    height: 200px;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
}

.intro-text {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.logo, .alert-title {
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.grid-title {
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.grid-boxes {
    display: flex;
    text-align: center;
    gap: 25px;
}

.grid-img {
    flex: 1 1 auto;
    max-width: 100%;
    height: auto;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote-author {
    align-self: flex-end;
}

.alert-text {
    font-size: 18px;
}

.alert-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882f6;
    border-radius: 15px;
    padding: 30px;
    flex-grow: 1;
}

.alert-right {
    flex-shrink: 0;
}

.alert-button {
    margin: 0;
    border: solid 2px #f9faf8;
}